/*Projects Page Stylings*/
.projects-hero{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
}

.projects-hero-art-left{
    background-image: url('../images/resume/groove6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    margin-top: 0.5rem;
}

.projects-hero-content{
    width: 75%;
    justify-self: center;
    margin-block: 5rem;
}

.projects-hero-content h2{
    font-weight: normal;
}

.projects-hero-art-right{
    background-image: url('../images/projects/groove7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    margin-top: 0.5rem;
}

.featured-projects {
    padding: 2rem;
}

.featured-project {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 2rem;
    margin-bottom: 6rem;
    align-items: center;
}

.featured-image img {
    width: 100%;
    border-radius: 0.75rem;
    border: 9px solid #ffffc9;
    box-shadow: 0 0 0 9px #ff6797;
}

.featured-content{
    margin-left: 3rem;
    margin-right: 2rem;
}

.featured-content a{
    margin-top: 0;
}

.featured-content h3 {
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 1.5rem;
}

.tech-stack {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-content .tech-stack{
    margin-top: 0;
    margin-bottom: 1rem;
}

.tech-stack span {
    background: #2271da;
    color: white;
    padding: 0.35rem 0.75rem;
    border-radius: 999px;
    font-size: 0.85rem;
    align-self: center;
}

.foundation-work, .featured-projects {
    padding: 2rem 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.project-card {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.project-image {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 9px solid #c1ff7b;
    border-bottom: none;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-content {
    background-color: #ffffc9;
    border: 9px solid #ffcf88;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.project-content p{
    margin-top: 0;
}

.project-content h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.project-tech {
    font-weight: 600;
}

.project-desc {
    font-size: 0.95rem;
}

.projects-btn{
    width: fit-content;
}

#toolbar{
    display: none;
}

.previous-portfolio{
    padding: 2rem 4rem;
}

.portfolio-section{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}

.portfolio-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
    border-radius: 0.75rem;
    border: 9px solid #ffffc9;
}

.portfolio-content{
    align-content: center;
}

.projects{
    text-align: center;
    padding: 2rem;
}

.projects h2{
    font-size: 32px;
    margin: 0 0 3.125rem 0;
    text-align: left;
    font-weight: normal;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.carousel-track {
    display: flex;
    width: 70%;
    background-color: #ffcf88;
    border-radius: 1rem;
    gap: 2rem;
    padding: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-item{
    flex: 0 0 calc((100% - 4rem) / 3);
    background: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: auto;
}

.carousel-item img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-spacer {
    flex: 0 0 2rem;
}

.carousel-arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #007bff;
}

.carousel-arrow:hover{
    color: #006fe6;
}

/*Viewport Stylings*/
@media (max-width: 768px) {
    .featured-project {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .featured-content {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
    }

    .featured-content a{
        display: flex;
        width: fit-content;
        justify-self: center;
        margin-top: 1.75rem;
    }

    .carousel-item {
        flex: 0 0 80%;
    }  
}

@media(max-width: 769px){
    .portfolio-section{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .portfolio-content{
        justify-self: center;
    }

    .portfolio-image{
        justify-self: center;
    }
}

@media (max-width: 900px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1024px){
    .projects-hero{
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 0;
    }

    .projects-hero-art-left,
    .projects-hero-art-right{
        display: none;
    }
}

@media (max-width: 500px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .projects h3{
        text-align: left;
    }
}